  <div class="container mx-auto p-4">
    <main class="bg-white dark:bg-slate-800 rounded-lg shadow-md p-6">
      <div class="mb-6 flex justify-between items-center">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white">
          Employee List
        </h2>
        <button
          (click)="openModal()"
          class="flex items-center text-sm justify-center space-x-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-200 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:bg-blue-700 dark:hover:bg-blue-800"
          type="button"
        >
          Add Employee
        </button>
      </div>
   
      <app-filter
      [page]="page"
      [queryObj]="queryObj"
      (getEmployee)="updateFilters($event)"
      />
      @if(isLoading){
      <app-loader />
      } @else{ @if(employees.length === 0){
      <div
        class="text-lg font-semibold text-center mt-10 text-gray-500 dark:text-gray-400"
      >
        No Employee Found
      </div>
      } @else{
      <div class="overflow-x-auto rounded-lg shadow-sm">
        <table class="w-full table-auto">
          <thead class="bg-gray-50 dark:bg-slate-700">
            <tr>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                ID
              </th>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                Name
              </th>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                Email
              </th>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                Department
              </th>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                Salary
              </th>
              <th
                class="p-3 text-left text-sm font-semibold text-gray-700 dark:text-gray-300"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-slate-700">
            <tr
              *ngFor="let employee of employees; let i = index"
              class="hover:bg-gray-50 dark:hover:bg-slate-600 transition duration-200"
            >
              <td class="p-3 text-sm text-gray-700 dark:text-gray-300">
                {{ i + (queryObj.page - 1) * queryObj.limit + 1 }}
              </td>
              <td class="p-3 text-sm text-gray-700 dark:text-gray-300">
                {{ employee?.name }}
              </td>
              <td class="p-3 text-sm text-gray-700 dark:text-gray-300">
                {{ employee?.email }}
              </td>
              <td class="p-3 text-sm text-gray-700 dark:text-gray-300">
                {{ employee?.department }}
              </td>
              <td class="p-3 text-sm text-gray-700 dark:text-gray-300">
                {{ employee?.salary | currency : "INR" }}
              </td>
              <td class="p-3">
                <div class="flex space-x-2">
                  <button
                    class="flex items-center justify-center px-3 py-1.5 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-200"
                    (click)="editEmployee(employee)"
                  >
                    <svg
                      class="w-4 h-4 mr-2"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                      ></path>
                    </svg>
                    Edit
                  </button>
                  <button
                    class="flex items-center justify-center px-3 py-1.5 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition duration-200"
                    (click)="deleteEmployee(employee._id)"
                  >
                    <svg
                      class="w-4 h-4 mr-2"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      ></path>
                    </svg>
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      } }

      <app-pagination
        [currentPage]="queryObj.page"
        [totalPages]="page"
        (pageChange)="onPageChange($event)"
        class="mt-6"
      />
    </main>
  </div>

<app-add-employee (getEmployee)="getEmployees()" />
<app-edit-employee
  [employee]="selectedEmployee"
  (getEmployee)="getEmployees()"
/>
<app-change-password />
