<div
  class="flex justify-center items-center h-screen dark:bg-slate-800 dark:text-white"
>
  <form
    [formGroup]="loginForm"
    class="w-full max-w-sm mx-auto p-6 rounded-md shadow-md dark:shadow-lg bg-white dark:bg-gray-700"
  >
    <h2 class="text-center text-2xl font-bold text-blue-500">SignIn</h2>
    <div class="mb-4">
      <label
        for="email"
        class="block text-gray-700 text-sm font-bold mb-2 dark:text-white"
        >Email</label
      >

      <input
        type="text"
        formControlName="email"
        name="email"
        placeholder="Enter your email address"
        class="w-full px-3 py-2 text-gray-700 border border-gray-300 rounded-md dark:text-white focus:outline-none focus:ring-primary-500 focus:border-primary-500"
      />
      <div
        *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']"
        class="text-red-500 text-sm"
      >
        Email is required.
      </div>
      <div
        *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']"
        class="text-red-500 text-sm"
      >
        Please enter a valid email address.
      </div>
    </div>
    <div class="mb-4">
      <label
        for="password"
        class="block text-gray-700 text-sm font-bold mb-2 dark:text-white"
        >Password</label
      >
      <input
        type="password"
        formControlName="password"
        name="password"
        placeholder="Password"
        class="w-full px-3 py-2 text-gray-700 border border-gray-300 rounded-md dark:text-white focus:outline-none focus:ring-primary-500 focus:border-primary-500"
      />
      <div
        *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
        class="text-red-500 text-sm"
      >
        Password is required.
      </div>
    </div>
    <button
      type="submit"
      (click)="onLogin()"
      [disabled]="loginForm.invalid"
      class="w-full px-4 py-2 bg-blue-500 text-white cursor-pointer rounded-md hover:bg-blue-600 focus:outline-none focus:ring-blue-500 focus:ring-offset-2 disabled:bg-blue-300 disabled:cursor-not-allowed"
    >
      <i class="fa fa-spinner fa-spin" *ngIf="isLoading"> </i>
      Login
    </button>
    <!-- <div class="text-center mt-4">
      <a class="text-blue-500">Forgot Password?</a>
    </div> -->
    <div class="relative flex py-2 items-center">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="flex-shrink mx-4 text-gray-400">OR</span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>
    <div class="text-center mt-2">
      <span>
        Don't have an account?
        <a
          [routerLink]="['/signup']"
          routerLinkActive="router-link-active"
          class="text-blue-500 font-semibold"
          >SignUp</a
        >
      </span>
    </div>
  </form>
</div>
